@font-face{
  font-family: "Volkorn-Semibold";
  src: url(../src/fonts/Vollkorn-Semibold.ttf) format("truetype");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  white-space: nowrap;
  
  
}

html{
 background: /* url('../src/img/background.png') */rgb(51, 58, 58);
  
}
img {
  max-width: 100%;
  max-height: 100%;
}
